@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-container {
  background: rgba(0, 101, 175, 0.32);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.grid {
  /* position: absolute; */
  /* inset: 0; */
  /* height: 100%;
  width: 100%; */
  /* background-image: linear-gradient(to right, #80808012 1px, transparent 1px),
    linear-gradient(to bottom, #80808012 1px, transparent 1px);
  background-size: 24px 24px; */
}

/* .custom-shape {
  clip-path: circle(50% at 50% 50%);
} */

*::-webkit-scrollbar {
  width: 10px;
  background-color: #212121;
  /* background: transparent; */
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #4A4A4A;
  /* background: transparent; */
  /* border-radius: 8px;
  background-clip: content-box; */
}